a {
    text-decoration: none;
}
.dark-thema .menu a{
    color: white;
}
.header-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--light);
    color: var(--title-blocks-color);
}

.logo {
    height: 116px;
    width: 154px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
.logo-dark, .logo-light {
    width: 154px;
    height: 116px;
    animation: slide-to-right 1s ease-out;
}
.logo-dark {
    display: none;
}
.dark-thema .logo-dark {
    display: block;
}
.dark-thema .logo-light {
    display: none;
}
.name_menu_toggle {
    color: var(--title-blocks-color);
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: space-around;
}
.name-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.name-hero {
    margin-top: 10px;
    font-size: 2rem;
    text-align: center;
    text-shadow: black 2px 0px ;
    animation: slide-to-right 1s ease-out;
}
.name-hero-bis {
    margin-top: 10px;
    font-size: 2rem;
    text-align: center;
    text-shadow: black 2px 0px ;
    display: none;
}
.dark-thema .name-hero {
    display: none;
}
.dark-thema .name-hero-bis {
    display: block;
    animation: slide-to-right 1s ease-out;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    float: right;
    font-size: 1.5rem;
    animation: slide-to-bottom 1s;
}
.menu a {
    color: black;
}
.toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.light {
    margin-right: 20px;
    font-size: 2rem;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 20px;
}
.dark {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 2rem;
    margin-right: 20px;
    text-align: right;
    color: var(--title-blocks-color);
}
.toggle .en, .toggle .fr {
    color: var(--title-blocks-color);
}

@keyframes slide-to-right {
    from {
        transform: translateX(-300%);
    }
    to {
        transform: translateX(0);
    } 
}
@keyframes slide-to-bottom {
    from {
        transform: translateY(-400%);
    }
    to {
        transform: translateY(0);
    }
}


@media screen and (min-width: 750px) {
    .logo {
        margin-left: 30px;
    }    
    .name_menu_toggle {
        justify-content: space-between;
    }
    .name-hero, .name-hero-bis {
        font-size: 3rem;
    }
    .toggle {
        flex-direction: row-reverse;
        width: 30%;
        height: 100%;
        align-items: center;
    }
    .toggles {
        margin-top: 14px;
    }
    .toggle .en, .toggle .fr {
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1024px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .logo {
        margin-left: 50px;
    }
    .name_menu_toggle {
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 60%;
    }
    .name-menu {
        display: flex;
        flex-direction: column;
    }
    .name-hero {
        font-size: 4rem;
    }
    .name-hero-bis {
        font-size: 4rem;
    }
    .toggle {
        flex-direction: row-reverse;
        width: 30%;
        height: 100%;
        align-items: center;
    }
    .toggles {
        margin: 0%;
    }
    .light {
        padding: 0%;
    }
    .dark {
        padding: 0%;
    }
    .toggle .en, .toggle .fr {
        font-size: 1.5rem;
    }
}