
.header-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--light);
    color: var(--secondary-color);
}
.logo {
    height: 116px;
    width: 154px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
.logo img {
    width: 154px;
    height: 116px;
}
.name_menu_toggle {
    grid-row-start: 1;
    grid-row-end: 3;
}
.name-toggle-lang {
    margin-bottom: 15px;
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-hero {
    font-size: 2rem;
    text-align: center;
    text-shadow: black 2px 0px ;
}
.toggles {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.toggle {
    font-size: 2rem;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50px;
}



@media screen and (min-width: 800px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .name_menu_toggle {
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 60%;
    }
    .name-toggle-lang {
        width: 50%;
    }
    .name {
        /*margin: 50px;
        padding-right: 100px;*/
    }
    .menu {
        width: 25%;
    }
}