@font-face {
    font-family: 'pauls_super_fontregular';
    src: url('webfontkit-20220927-034658/pauls_super_font-webfont.woff') format('woff2'),
         url('webfontkit-20220927-034658/pauls_super_font-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
$title-blocks-color:#A80F14;
$title-head-color:#DBAB64;
$background-color:#0471ff22;
$white:white;
$black:black;
$background-darken:rgba(70, 34, 78, 0.1333333333);
$hover-background:rgb(56, 58, 169);

.grid-central {
    display:flex;
    flex-direction:column;
    grid-template-columns:1fr 1fr 1fr;
}
.experiences, .skills, .hobbies, .common-questions-container {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    border-top:1px solid $title-blocks-color;
}
.experiences-items {
    width:100%;
    text-decoration:none;
    &:hover {
        background-color:$background-darken;
    }
}

.skills {
    grid-column-start:1;
    grid-column-end:1;
    grid-row-start:2;
    grid-row-end:3;
    border-top:3px solid $title-blocks-color;
    background-color:$background-color;
}
.hobbies {
    grid-column-start:1;
    grid-column-end:1;
    grid-row-start:3;
    grid-row-end:4;
    background-color:$background-color; 
}
.common-questions-container {
    grid-column-start:2;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:4;
}
.main-blocks-titles {
    font-size:clamp(16px,4vw,2rem);
    font-family: "Lato", sans-serif; 
    text-align:center;
    font-weight: lighter;
    color:$title-blocks-color;
    padding:8px;
    line-height:24px;
    font-weight: bold;
    .first-letter {
        font-family: 'pauls_super_fontregular';
        font-size:clamp(1.5em,10vw,2.5rem);
        font-weight: bold;
        vertical-align: -webkit-baseline-middle;
        margin-right:-4px;
        
    }
}
ul {
    padding:0;
    li {
    list-style:none;
    color:$black;
    text-align:center;
    margin-bottom:5px;
    line-height: 24px;
    }
}
.question-answer-block {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:90%;
}
.contact-btn {
    width:100%;
    text-align:center;
    line-height:32px;
    text-decoration:none;
    color:black;
    background-color:$background-color;
    &:hover {
        background-color:$background-darken;
        color:$black;
    }
}
@keyframes answer-show {
    0% {line-height:0px;
    opacity:0}
    100% {line-height:24px;opacity:1}
}
@keyframes answer-hide {
    0% {line-height:24px;opacity:1}
    100% {line-height:0px;opacity:0}
}
@mixin question {
    align-content: center;
    align-self:flex-start; 
    width:80%;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    color:$black;
    font-size:clamp(14px,3vw,1.5rem);
    font-weight:lighter;
    @media screen and (min-width:1200px) {
        line-height:50px;
    }
}
@mixin answer {
    text-align: center;
    line-height:0px;
    opacity:0;
    animation-name:answer-hide;
    animation-duration:0.5s;
    width:90%;
    font-size:clamp(0.8em,2vw,1.5rem);
    
    &.answerShow {
        display:block;
        animation-name:answer-show;
        animation-duration:0.5s;
        line-height: 24px;
        opacity:1;
        @media screen and (min-width:1200px) {
            line-height:50px;
        }
    }
}
@mixin button {
    font-weight:bolder;
    font-size:1.5em;
    grid-column-start:2;
    text-align:center;
    vertical-align: middle;
    line-height:30px;
    width:20%;
}
@mixin question-block {
    display:flex;
    width:100%;
    margin-bottom:10px;
    align-items:center;
    line-height: 2em;
    &:hover {
        background-color:$background-darken;
    }
}

@for $i from 0 through 4 {
    .question#{$i}{
        @include question
    }
    .answer#{$i}{
        @include answer()
    }
    .button#{$i}{
        @include button()
    }
    .question-block#{$i}{
        @include question-block()
    }
}

// Test de text en hover

.hovertext {
    position: relative;
  }
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: $white;
    border:2px solid $title-blocks-color;
    color: $black;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 70%;
    top: 110%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }

  @media screen and (min-width:800px) {
    .grid-central {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    }
    .skills, .hobbies, .experiences {
        border-top:1px solid $title-blocks-color;
        border-right:1px solid $title-blocks-color;
    }
    .experiences, .common-questions-container  {
        border-top:3px solid $title-blocks-color;

    }

  }
  @media screen and (min-width:1200px) {
    .grid-central {
        display:grid;
        grid-template-columns:1fr 1fr;
    }
    .skills, .hobbies, .experiences {
        border-top:1px solid $title-blocks-color;
        border-right:1px solid $title-blocks-color;
    }
    .experiences, .common-questions-container  {
        border-top:3px solid $title-blocks-color;
    }
    .question-answer-block {
        line-height:48px;
    }
    .common-questions-container {
        gap:48px;
    }
    
  }
