main {
    margin-top:20px;
}
.grid-central {
    display:flex;
    flex-direction:column;
    grid-template-columns:1fr 1fr 1fr;
    gap:20px;
    width:95%;
    margin:auto;
}
.experiences, .skills, .hobbies, .common-questions-container {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    background-color:var(--light);
    border-radius: 10px;
    box-shadow:3px 3px 5px black;
}

.experiences-items {
    &:hover {
        background-color:var(--background-darken);
    }
}

.skills {
    grid-column-start:1;
    grid-column-end:1;
    grid-row-start:2;
    grid-row-end:3;
}
.hobbies {
    grid-column-start:1;
    grid-column-end:1;
    grid-row-start:3;
    grid-row-end:4;
}
.common-questions-container {
    grid-column-start:2;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:4;
}
.main-blocks-titles {
    font-size:clamp(16px,3vw,32px);
    font-family: "Lato", sans-serif; 
    text-align:center;
    color:var(--title-blocks-color);
    padding:8px;
    line-height:24px;
    font-weight: bold;
    .first-letter {
        font-family: 'pauls_super_fontregular';
        font-size:clamp(0.8em,5vw,2.5rem);
        font-weight: bold;
        vertical-align: -webkit-baseline-middle;
 
        
    }
}
.hobbies-items, .experiences-items, .skills-items {
    padding:0;
    list-style:none;
    color:var(--dark);
    text-align:center;
    margin-bottom:5px;
    line-height: 24px;
}
.question-answer-block {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:90%;
}
.contact-container {
    display:flex;
    justify-content: center;
    gap:10px;
    align-items:center;
    width:100%;
    text-align:center;
    text-decoration:none;
    color:black;
    line-height: 32px;

    &:hover {
        background-color:var(--title-blocks-color);
        border-bottom-right-radius:10px;
        border-bottom-left-radius:10px;
        color:var(--dark);
    }
}
.fa-envelope {
    color:var(--body-background-color);
}
@keyframes answer-show {
    0% {line-height:0px;
    opacity:0}
    100% {line-height:24px;opacity:1}
}
@keyframes answer-hide {
    0% {line-height:24px;opacity:1}
    100% {line-height:0px;opacity:0}
}
@mixin question {
    align-content: center;
    align-self:flex-start; 
    width:80%;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    color:var(--dark);
    font-size:clamp(0.8em,3vw,16px);
    @media screen and (min-width:1024px) {
        line-height:32px;
    }
}
@mixin answer {
    text-align: center;
    line-height:0px;
    opacity:0;
    animation-name:answer-hide;
    animation-duration:0.5s;
    width:90%;
    font-size:clamp(0.6em,2.5vw,14px);
    
    &.answerShow {
        display:block;
        animation-name:answer-show;
        animation-duration:0.5s;
        line-height: 24px;
        opacity:1;
        @media screen and (min-width:1024px) {
            line-height:24px;
        }
    }
}
@mixin button {
    font-weight:bolder;
    font-size:1.5em;
    grid-column-start:2;
    text-align:center;
    vertical-align: middle;
    line-height:30px;
    width:20%;
}
@mixin question-block {
    display:flex;
    width:100%;
    margin-bottom:10px;
    margin-top:10px;
    align-items:center;
    line-height: 2em;
    background-color:var(--background-darken);
    border-radius:10px;
    &:hover {
        background-color:var(--background-darken);
    }
}

@for $i from 0 through 4 {
    .question#{$i}{
        @include question
    }
    .answer#{$i}{
        @include answer()
    }
    .button#{$i}{
        @include button()
    }
    .question-block#{$i}{
        @include question-block()
    }
}

// Responsive

  @media screen and (min-width:750px) {
    .grid-central {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    }
  }
  @media screen and (min-width:1024px) {
    .grid-central {
        display:grid;
        grid-template-columns:1fr 1fr;
    }
    .question-answer-block {
        line-height:48px;
    }
    .common-questions-container {
        gap:48px;
    }
    main {
        width:75%;
        margin:auto;
        margin-top:20px;
    }
  }

  .experiences-header {
    display:flex;
    justify-content:space-around;
    width:100%;
  }
  .experience-button {
    text-align:center;
    vertical-align: center;
    line-height:45px;
  }
  .experience-details {
    line-height:0px;
    opacity:0;
    animation-name:answer-hide;
    animation-duration:0.5s;
    font-size:0.7em;
    text-align:center;
    padding:0;
    color:var(--dark);
    &.showDetails {
        animation-name:answer-show;
        animation-duration:0.5s;
        margin-bottom:5px;
        line-height: 24px;
        opacity:1;

    }
  }
  .plus-buttons {
    color:var(--body-background-color);
  }
  .dark-thema {
    .skills-items, .experiences-items, .experience-details, .hobbies-items, .questions, .answers {
        color:white;
    }
    .plus-buttons {
        color:white;
    }
    
  }